@media print {

  app-navbar {
    display: none !important;
  }

  button {
    display: none !important;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #rapport-content {
    width: 100%;
  }
}