<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/login"> ReclamApp </a>

    <div class="navbar-nav" *ngIf="role === 'ADMIN'">
      <a class="nav-link" routerLink="/clients">Clients</a>
      <a class="nav-link" routerLink="/agents">Agents</a>
      <a class="nav-link" routerLink="/reclamations">Réclamations</a>
      <a class="nav-link" routerLink="/rapport">Rapport</a>
    </div>

    <div class="navbar-nav" *ngIf="role === 'CLIENT'">
      <a class="nav-link" routerLink="/profil-client">Mon profil</a>
      <a class="nav-link" routerLink="/mes-reclamations">Mes réclamations</a>
    </div>

    <button class="btn btn-outline-light" (click)="logout()">Déconnexion</button>
  </div>
</nav>
