<div class="container mt-4">
  <div class="card p-4">
    <h3>Liste des réclamations</h3>

    <p>Nombre : {{ reclamations.length }}</p>

    <div class="row mb-3">
      <div class="col-md-2">
        <input
          type="text"
          class="form-control"
          placeholder="Nom agent"
          [(ngModel)]="agentNom"
          (input)="onSearchChange()"
        />
      </div>

      <div class="col-md-2">
        <input
          type="text"
          class="form-control"
          placeholder="Nom client"
          [(ngModel)]="clientNom"
          (input)="onSearchChange()"
        />
      </div>

      <div class="col-md-2">
        <input
          type="text"
          class="form-control"
          placeholder="Produit"
          [(ngModel)]="produit"
          (input)="onSearchChange()"
        />
      </div>

      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="statut" (change)="onSearchChange()">
          <option value="">Statut</option>
          <option value="OUVERTE">OUVERTE</option>
          <option value="EN_COURS">EN_COURS</option>
          <option value="RESOLUE">RESOLUE</option>
          <option value="FERMEE">FERMEE</option>
        </select>
      </div>

      <div class="col-md-3">
        <input type="date" class="form-control" [(ngModel)]="date" (change)="onSearchChange()" />
      </div>
    </div>

    <p class="text-danger" *ngIf="error">
      {{ error }}
    </p>

    <p class="text-success" *ngIf="success">
      {{ success }}
    </p>

    <div
      *ngIf="reclamationToDelete"
      class="alert alert-warning d-flex justify-content-between align-items-center"
    >
      <span>
        Confirmer la suppression de la réclamation
        <strong>{{ reclamationToDelete.produit }}</strong> ?
      </span>

      <div>
        <button class="btn btn-danger btn-sm me-2" (click)="deleteReclamation()">Oui</button>

        <button class="btn btn-secondary btn-sm" (click)="cancelDelete()">Annuler</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Client</th>
          <th>Agent SAV</th>
          <th>Produit</th>
          <th>Statut</th>
          <th>Description</th>
          <th>Note</th>
          <th>Date</th>
          <th>Affectation et suivi</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of reclamations; let i = index">
          <td>{{ r.clientNom }}</td>

          <td>{{ r.agentNom || 'Non affecté' }}</td>

          <td>{{ r.produit }}</td>

          <td>{{ r.statut }}</td>

          <td>{{ r.description }}</td>

          <td>
            {{ r.note }}/5

            <span *ngIf="r.note === 0">- Très mauvaise</span>

            <span *ngIf="r.note === 1">- Mauvaise</span>

            <span *ngIf="r.note === 2">- Passable</span>

            <span *ngIf="r.note === 3">- Moyenne</span>

            <span *ngIf="r.note === 4">- Bonne</span>

            <span *ngIf="r.note === 5">- Excellente</span>
          </td>

          <td>{{ r.date }}</td>

          <td>
            <select class="form-control form-control-sm" [(ngModel)]="r.selectedAgentId">
              <option [ngValue]="null" disabled>Choisir agent</option>

              <option *ngFor="let agent of agents" [ngValue]="agent.id">
                {{ agent.nom }}
              </option>
            </select>

            <button
              class="btn btn-info btn-sm mt-2 w-100"
              (click)="affecterAgent(r.id, r.selectedAgentId)"
            >
              Affecter
            </button>

            <hr />

            <select class="form-control form-control-sm mb-2" [(ngModel)]="r.suiviAction">
              <option [ngValue]="null" disabled>Choisir une action</option>

              <option value="Appel téléphonique">Appel téléphonique</option>

              <option value="Email envoyé">Email envoyé</option>

              <option value="Réclamation analysée">Réclamation analysée</option>

              <option value="Produit vérifié">Produit vérifié</option>

              <option value="Demande de remplacement">Demande de remplacement</option>

              <option value="Produit remplacé">Produit remplacé</option>

              <option value="Remboursement effectué">Remboursement effectué</option>

              <option value="Problème résolu">Problème résolu</option>

              <option value="Réclamation fermée">Réclamation fermée</option>

              <option value="Client contacté">Client contacté</option>

              <option value="En attente de réponse client">En attente de réponse client</option>

              <option value="Transfert au service technique">Transfert au service technique</option>
            </select>

            <input
              type="text"
              class="form-control form-control-sm mb-2"
              placeholder="Message"
              [(ngModel)]="r.suiviMessage"
            />

            <button class="btn btn-success btn-sm w-100" (click)="ajouterSuivi(r)">
              Ajouter suivi
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
