<div class="container mt-4">
  <h3>Liste des agents</h3>

  <p>Nombre d'agents : {{ agents.length }}</p>

  <button class="btn btn-primary mb-3" (click)="addAgent()">Ajouter agent</button>

  <input
    type="text"
    class="form-control mb-3"
    placeholder="Rechercher par nom"
    [(ngModel)]="keyword"
    (input)="onSearchChange()"
  />

  <p class="text-danger" *ngIf="error">
    {{ error }}
  </p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Compétence</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let agent of agents">
        <td>{{ agent.id }}</td>
        <td>{{ agent.nom }}</td>
        <td>{{ agent.competence }}</td>

        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editAgent(agent.id!)">
            Modifier
          </button>

          <button class="btn btn-danger btn-sm" (click)="confirmDeleteAgent(agent.id!)">
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="agentToDelete"
    class="alert alert-warning d-flex justify-content-between align-items-center"
  >
    <span>
      Confirmer la suppression de l'agent
      <strong>{{ agents.find((a) => a.id === agentToDelete)?.nom }}</strong> ?
    </span>

    <div>
      <button class="btn btn-danger btn-sm me-2" (click)="deleteAgent()">Oui</button>

      <button class="btn btn-secondary btn-sm" (click)="agentToDelete = undefined">Annuler</button>
    </div>
  </div>
</div>
